body {
	/* width: 980px; */
	margin: auto;
	background-image: url(../images/squared_metal.png);
	color: purple;
	text-align: center;
}

h1 {
	font-size: 68px;
	text-align: center;
}

.instructions {
	font-size: 18px;
	text-align: left;
}

.crystal-image {
	align-self: center;
	height: 150px;
	width: 150px;
	margin: 30px;
}